---
import '@astrojs/tailwind/base.css'
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_CONFIG, getEventDescription } from '../utils/constants'

const baseUrl = import.meta.env.BASE_URL

const {
  title = SITE_CONFIG.eventName,
  description = getEventDescription(),
  url = Astro.site,
  image = 'pyohio-2025-logo-og.png',
  author = 'PyOhio Organizers',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" href={`${baseUrl}/favicon.ico`} />

    <SiteMeta title={title} description={description.substring(0, 100)} url={url} image={image} author={author} />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: 'Open Sans', sans-serif;
        --font-family-special: 'Open Sans', sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--primary-300);
        --action-color-state: var(--primary-500);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --action-color-state: var(--secondary-500);
        --background: var(--dark-100);
        --primary-background: var(--primary-500);
        --neutral-background: var(--neutral-900);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        overflow-x: hidden;
        color: var(--font-color);

        main {
          flex: 1 0 auto;
        }

        footer {
          display: flex;
          flex-shrink: 0;
          justify-content: center;
        }
      }

      pre {
        border: 2px solid var(--action-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }

      .sr-only {
        position: absolute;
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border-width: 0;
        white-space: nowrap;
      }
    </style>
  </body>
</html>
