---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

const baseUrl = import.meta.env.BASE_URL

export async function getStaticPaths() {
  const speakers = await getCollection('speakers', ({ data }) => {
    return data
  })

  return speakers.map((speaker) => {
    return {
      params: { speaker: speaker.data.slug },
      props: { speaker },
    }
  })
}
const { speaker } = Astro.props
---

<DefaultLayout title={speaker.data.name}>
  <section class="mt-12">
    <div class="container">
      <h1>{speaker.data.name}</h1>
      <Image
        src={speaker.data.avatar_url}
        alt={speaker.data.name + ' profile photo'}
        height="300"
        width="300"
        layout="constrained"
        fadeInTransition={false}
        class="speaker"
      />
      {
        speaker.data.social_links.map((social_link) => (
          <p>
            <a href={social_link.social_link_url}>
              <Icon class="inline h-6 pr-1" name={social_link.social_link_type} />
              {social_link.social_link_display}
            </a>
          </p>
        ))
      }
    </div>
  </section>
  <section class="my-6">
    <div class="space-content container">
      <Fragment set:html={speaker.data.biography} />
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Presenting</h2>
      {
        speaker.data.talks.map((talk) => (
          <p>
            <a href={`${baseUrl}/program/talks/${talk.slug}`}>{talk.title}</a>
          </p>
        ))
      }
    </div>
  </section>
</DefaultLayout>
