---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
const baseUrl = import.meta.env.BASE_URL
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">About</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
            <a href={`${baseUrl}/about/`}>About PyOhio</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/about/code-of-conduct`}>Code of Conduct</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/about/health-and-safety`}>Health & Safety</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/about/newsletter`}>Newsletter</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Attend</button>
      <ul class="dropdown-menu">

      <li class="submenu-item">
            <a href={`${baseUrl}/attend/registration`}>Registration</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/attend/venue`}>Venue</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/attend/refreshments-and-meals`}>Refreshments &amp; Meals</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/attend/directions-and-parking`}>Directions &amp; Parking</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/attend/hotels`}>Hotels</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/attend/volunteer`}>Volunteer</a>
        </li>
                <li class="submenu-item">
            <a href={`${baseUrl}/attend/discord`}>Chat on Discord</a>
        </li>
      </ul>

    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Program</button>
           <ul class="dropdown-menu">

      <li class="submenu-item">
            <a href={`${baseUrl}/program/talks/`}>Talks</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/program/speakers/`}>Speakers</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/program/speakers/keynote-speakers`}>Keynote Speakers</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/program/lightning-talks`}>Lightning Talks</a>
        </li>
        <li class="submenu-item">
            <a href={`${baseUrl}/program/open-spaces`}>Open Spaces</a>
        </li>
        <li class="submenu-item">
            Schedule TBD
        </li>
      </ul>
    </li>
        <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Sponsors</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/sponsors/">Our Sponsors</a>
        </li>
        <li class="submenu-item">
          <a href="/sponsors/prospectus">Prospectus</a>
        </li>
        <li class="submenu-item">
          <a href="/sponsors/individual-sponsors">Individual Sponsors</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
