---
// import { Media } from 'accessible-astro-components'
import { Image } from 'astro:assets'

const { sponsorLogo, sponsorName, sponsorDescription, sponsorURL = false } = Astro.props
const logoWidth = 400
---

<div class="sponsor flex flex-wrap">
  <div class="basis-1/2 p-6">
    <a href={sponsorURL}><Image src={sponsorLogo} width={logoWidth} alt={sponsorName} /></a>
  </div>
  <div class="basis-1/2">
    <h3 class="font-bold"><a href={sponsorURL}>{sponsorName}</a></h3>
    <p>{sponsorDescription}</p>
  </div>
</div>
