---
const { title, description, url, image, author } = Astro.props

let subtitle = 'PyOhio 2024'
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={`${title} - ${subtitle}`} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={Astro.site ? `${Astro.site}${image}` : image} />
<meta name="twitter:site" content="@pyohio" />

<!-- event schema -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Event",
        "name": "PyOhio 2024",
        "description": "Free online Python programming community conference.",
        "image": "https://www.pyohio.org/2024/pyohio-2024-logo-og.png",
        "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "startDate": "2024-07-27T09:00-04:00",
        "endDate": "2024-07-28T18:00-04:00",
        "location": [
            {
                "@type": "VirtualLocation",
                "url": "https://www.pyohio.org/2024"
            }
        ]
    }
</script>
<!-- page title -->
<title>{title} - {subtitle}</title>
